{% extends 'base.html.twig' %}

{% block title %}Scarred Sky{% endblock %}

{% block body %}
    {% if articles %}
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
            </tr>
         </thead>
         <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article }}</td>
                </tr>
             {% endfor %}
         </tbody>
         </table>
         {% else %}
            <p>No articles to display</p>
         {% endif %}
{% endblock %}
